//
   Created by yifanyang on 2016-09-10.

extends layout

block style
    link(rel='stylesheet', href='/stylesheets/chat.css')

block content
    ul#messages
    form(action="")
        input#m(autocomplete="off")
        button Send
    script(src="//cdn.socket.io/socket.io-1.4.5.js")
    script.
        var username = "#{username}";
    script(src="/javascripts/chat.js")


