extends layout

block style
    link(rel='stylesheet', href='/stylesheets/map.css')

block content
    #map
    script.
        function initMap() {
            var position = {lat: 49.2828, lng: 123.12};
            var map = new google.maps.Map(document.getElementById('map'), {
                center: position,
                zoom: 8
                });
            var contentString = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<h1 id="firstHeading" class="firstHeading">position</h1>' +
                    '<div id="bodyContent">' +
                    '<p><b>position</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                    'sandstone rock formation in the southern part of the ' +
                    'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) ' +
                    'south west of the nearest large town, Alice Springs; 450&#160;km ' +
                    '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major ' +
                    'features of the Uluru - Kata Tjuta National Park. Uluru is ' +
                    'sacred to the Pitjantjatjara and Yankunytjatjara, the ' +
                    'Aboriginal people of the area. It has many springs, waterholes, ' +
                    'rock caves and ancient paintings. Uluru is listed as a World ' +
                    'Heritage Site.</p>' +
                    '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                    'https://en.wikipedia.org/w/index.php?title=Vancouver</a> ' +
                    '(last visited June 22, 2009).</p>' +
                    '</div>' +
                    '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: 'Vancouver'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyA7rasW_yclC0Fc8XN7adsBLdGxv8hG_pw&callback=initMap")